<!DOCTYPE html>
<html>
	<head>
		<title> Welcome Foodies... </title>
		<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
		
		<link rel = "stylesheet" type : "text/css" href ="/stylesheet/details.css">
	</head>
	<body>
	<nav class="navbar navbar-expand-lg navbar-light bg-dark fixed-top">
  <a class="navbar-brand" href="#">FooDelight</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav ml-auto float-right" >
		<% if(!currentUser){ %>
      <li class="nav-item active">
        <a class="nav-link" href="/login">Log In <span class="sr-only">(current)</span></a>
      </li>
		<li class="nav-item">
        <a class="nav-link" href="/register">Sign Up</a>
      </li>
	<% } else { %>	
		  <li class="nav-item">
			<a class="nav-link" href = "#">Signed In AS <%= currentUser.username %></a>
		  </li>
		<li class="nav-item">
        <a class="nav-link" href="/logout">Log Out</a>
      </li>
		<% } %>
    </ul>
  </div>
</nav>
		<div class = "container">
			<% if(error && error.length>0 ) { %>
			<div  class=" flash alert alert-danger d-flex text-center" role="alert">
  <%= error %>&emsp;<a href="/register" class="alert-link">Signup Here</a>.</div>
			<% } %>
			<% if(success && success.length>0 ) { %>
		<div  class=" flash alert alert-success d-flex text-center" role="alert">
  <%= success %>&emsp;<a href="/login" class="alert-link"> Login Here.. </a>.</div>	
			<% } %>
		</div>
		
	
		
		