<!DOCTYPE html>
<html>
	<head>
		<title> Welcome Foodies... </title>
		<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/mdbootstrap/4.7.6/css/mdb.min.css" />
		<link rel = "stylesheet" href ="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-slider/10.6.2/css/bootstrap-slider.css">
		<link rel = "stylesheet" type : "text/css" href ="/stylesheet/app.css">
	</head>
	<body>
	<div class="ui inverted pointing menu">
  <a class="active item">
    Home
  </a>
  <a class="item">
    Messages
  </a>
  <a class="item">
    Friends
  </a>
  <div class="right menu">
    <a class="ui item">
      Logout
    </a>
  </div>
</div>
		<div class="alert alert-danger" role="alert">
  This is a danger alert with <a href="" class="alert-link">an example link</a>. Give it a click if you like.
</div>
		<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/mdbootstrap/4.7.6/js/mdb.min.js"></script>
		