.jumbotron{
	margin-top:20%;		
}
.cimage{
	width:100%;
	height:490px
		
}
/* .bg-dark {
    background-color: transparent !important;
} */
.bg_image{
	background-attachment:fixed;	
}

.caption-full{
	padding:12px;
}
#deleteform{
	display:inline
}
.carousel-inner > .item {
    position: relative;
    display: none;
    transition: 0.8s ease-in-out right;
}

.danger {
	color: red;
}
.danger:hover {
  color: red;
}
.deleteform{
	display:inline;
}

.alert-danger{
	margin-top:15px;
}
#map{
	height:400px;
	width:100%;
}
.profile{
	width:30%;
	height:280px;
}
#like{
	float:left
}
.btn-link{
	color:red;
	text-decoration:none !important;
}
.btn-link:hover{
	color:red;
	text-decoration:none !important;
}
.badge{
	font-weight:500;
	color:red;
	font-size:109%
		
}
body { padding-top: 80px; }
@media screen and (max-width: 768px) {
    body { padding-top: 0px; }
}

.cat_btn{
	color:blue;
	font-weight:100px;
	text-decoration:none !important;
}
.cat_btn hover{
	color:blue;
	text-decoration:none !important;
}
.card-img {
    width: 133% !important;
    margin-top: 15%;
    border-radius: calc(.25rem - 1px);
    height: 83%;
}
.col-md-4{
	padding-left:0
}
.card-body{
	padding-right:0;
	margin-left: 20px;
    padding-top: 14%;
}
.card-link{
	margin-left:35%
}

/*FOOTER*/

footer {
  background: #16222A;
  background: -webkit-linear-gradient(59deg, #3A6073, #16222A);
  background: linear-gradient(59deg, #3A6073, #16222A);
  color: white;
  margin-top:100px;
}

footer a {
  color: #fff;
  font-size: 14px;
  transition-duration: 0.2s;
}

footer a:hover {
  color: #FA944B;
  text-decoration: none;
}

.copy {
  font-size: 12px;
  padding: 10px;
  border-top: 1px solid #FFFFFF;
}

.footer-middle {
  padding-top: 2em;
  color: white;
}


/*SOCİAL İCONS*/

/* footer social icons */

ul.social-network {
  list-style: none;
  display: inline;
  margin-left: 0 !important;
  padding: 0;
}

ul.social-network li {
  display: inline;
  margin: 0 5px;
}
ul.nav{
	font-size:17px
}


/* footer social icons */

.social-network a.icoFacebook:hover {
  background-color: #3B5998;
}

.social-network a.icoLinkedin:hover {
  background-color: #007bb7;
}

.social-network a.icoFacebook:hover i,
.social-network a.icoLinkedin:hover i {
  color: #fff;
}

.social-network a.socialIcon:hover,
.socialHoverClass {
  color: #44BCDD;
}

.social-circle li a {
  display: inline-block;
  position: relative;
  margin: 0 auto 0 auto;
  -moz-border-radius: 50%;
  -webkit-border-radius: 50%;
  border-radius: 50%;
  text-align: center;
  width: 30px;
  height: 30px;
  font-size: 15px;
}

.social-circle li i {
  margin: 0;
  line-height: 30px;
  text-align: center;
}

.social-circle li a:hover i,
.triggeredHover {
  -moz-transform: rotate(360deg);
  -webkit-transform: rotate(360deg);
  -ms--transform: rotate(360deg);
  transform: rotate(360deg);
  -webkit-transition: all 0.2s;
  -moz-transition: all 0.2s;
  -o-transition: all 0.2s;
  -ms-transition: all 0.2s;
  transition: all 0.2s;
}

.social-circle i {
  color: #595959;
  -webkit-transition: all 0.8s;
  -moz-transition: all 0.8s;
  -o-transition: all 0.8s;
  -ms-transition: all 0.8s;
  transition: all 0.8s;
}

.social-network a {
  background-color: #F9F9F9;
}

.f_detail{
    font-family: El Messiri;
}
.my-flex-card > div > div.card {
    height: calc(100% - 15px);
    margin-bottom: 15px;
}
