<% include ./partials/details %>
<div class = "container" >
	<% foodstop.forEach(function(foodstop){ %>
	<div class = "row">
		<div class="card mb-3" style="max-width: 100%;">
  <div class="row col-lg-12">
    <div class="col-md-4">
      <img src="<%= foodstop.image%>" class="card-img" alt="...">
		</div>
    <div class="col-md-8">
      <div class="card-body">
        <h5 class="card-title"><%= foodstop.name %></h5>
		  <p class="card-text">
		  <% if(foodstop.description && foodstop.description.length > 0) { %>
		  <%= foodstop.description.substring(0, 200) %>....
		  <% } %>
		  </p>
        <p class="card-text"><small class="text-muted"><p>
				<a href = "/foodstops/<%= foodstop._id %>" class ="btn btn-outline-primary">Read More</a>
			</p></small></p>
      </div>
    </div>
  </div>
</div>		
	</div>
<% }) %>
	
<a class= "btn btn-primary" href="/">Back to Home</a>
</div>
	<% include ./partials/footer %>
	