<% include ./partials/details %>
<div class = "container">
	<div class = row>
		<div class = "col-md-4">
		<div class="card" style="width: 18rem;">
  			<img src="/vegetarian-restaurant-icon-vector-2370884.jpg" class="card-img-top">
  		<div class="card-body">
    		<a href="?category=Veg" class="btn btn-primary text-center">View foodstop</a>
  		</div>
	</div>
		</div>
		<div class = "col-md-4">
		<div class="card" style="width: 18rem;">
  			<img src="https://www.kindpng.com/picc/m/151-1515522_non-vegetarian-non-veg-logo-hd-png-download.png" class="card-img-top">
  		<div class="card-body">
    		<a href="?category=Non-veg" class="btn btn-primary text-center">View foodstop</a>
  		</div>
	</div>
		</div>

		<div class = "col-md-4">
			<div class="card" style="width: 18rem;">
			  <div class="card-body">
				<h5 class="card-title">Beverages</h5>
				<p class="card-text">With supporting text below as a natural lead-in to additional 					content.</p>
				<a href="?category=Beverages" class="btn btn-primary">Go somewhere</a>
			  </div>
			</div>
		</div>
	</div>
	<div class = row style = "margin-top:100px">
		<div class = "col-md-4">
			<div class="card" style="width: 18rem;">
			  <div class="card-body">
				<h5 class="card-title">Sweets</h5>
				<p class="card-text">With supporting text below as a natural lead-in to additional 					content.</p>
				<a href="?category=Sweets" class="btn btn-primary">Go somewhere</a>
			  </div>
			</div>
		</div>
		<div class = "col-md-4">
			<div class="card" style="width: 18rem;">
			  <div class="card-body">
				<h5 class="card-title">Drinks</h5>
				<p class="card-text">With supporting text below as a natural lead-in to additional 					content.</p>
				<a href="?category=Drinks" class="btn btn-primary">Go somewhere</a>
			  </div>
			</div>
		</div>
		<div class = "col-md-4">
			<div class="card" style="width: 18rem;">
			  <div class="card-body">
				<h5 class="card-title">Chaat</h5>
				<p class="card-text">With supporting text below as a natural lead-in to additional 					content.</p>
				<a href="?category=Chaat" class="btn btn-primary">Go somewhere</a>
			  </div>
			</div>
		</div>
	</div>
</div>


<% include ./partials/footer %>