<% include ./partials/details %> 
<div class = "container">
	<div class = "row cmt">
	<div class = "col-md-8" style = "width : 30% ; margin: 25px auto">
		<h1 class = "text-center">Sign Up Here!!!</h1>
		<form action = "/register" method="POST">
		<div class = "form-group">
			<input class = "form-control" type = "text" name = "username" placeholder = "Enter Your Name">		
		</div>
			<div class = "form-group">
			<input class = "form-control" type = "password" name = "password" placeholder = "Enter Your Password">
		</div>
			<div class = "form-group">
			<input class = "form-control" type = "text" name = "firstname" placeholder = "Enter Your First Name">
		</div>
			<div class = "form-group">
			<input class = "form-control" type = "text" name = "lastname" placeholder = "Enter Your Last Name">
		</div>
			<div class = "form-group">
			<input class = "form-control" type = "email" name = "email" placeholder = "Enter Your Email">
		</div>
			<div class = "form-group">
			<input class = "form-control" type = "text" name = "profile" placeholder = "Enter Profile URL">
		</div>
		<div class="form-group">
    <input class="form-control" type="password" name = "secretKey" placeholder = "Enter Your Secret Key">
</div>
		<div class = "form-group">
			<button class = "btn btn-lg btn-primary btn-block">Sign Up</button>		
		</div>
	</form>
	<a href = "/foodstops">Go Back</a>
	</div>
		</div>
</div>
<% include ./partials/footer %>